<div class="page">
    <div class="page2">
        <div class="blog">
            <p class="blog-title">Các bài viết</p>
            <hr>

            <div class="blog2">
                <!-- Duyệt qua các blog trong mảng blogs -->
                <div class="blog-item" *ngFor="let blog of blogs" (click)="onBlogClick(blog._id)">
                    <!-- Hiển thị ảnh nếu có -->
                    <div *ngIf="blog.images && blog.images.length > 0">
                        <div *ngFor="let image of blog.images">
                            <img [src]="image" alt="Blog Image" width="160px" />
                        </div>
                    </div>
                    <p class="blog-text">{{ blog.title }}</p>
                </div>                        
            </div>
        </div>
    </div>
</div>
